<a href="https://colab.research.google.com/github/elangbijak4/k-ally-new-algorithm-for-clusterization/blob/main/Eksplorasi_Algoritma_k_ally_ver_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!python /content/contoh.py

Hello World from fle extrnal

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
x = "Python is awesome"
print(x)

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

In [ ]:
x = 5
print(type(x))

<class 'int'>

In [ ]:
x = "Hello World"
print(type(x))

<class 'str'>

In [ ]:
x = 20.5
print(type(x))

<class 'float'>

In [ ]:
x = 3+3j
print(type(x))

<class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [ ]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

how to converse type:

In [ ]:
x=list(x)
print(type(x))

<class 'list'>

Range:

In [ ]:
x = range(6)
print(type(x))
print(x)

<class 'range'>
range(0, 6)

In [ ]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [ ]:
x = {"name" : "John", "age" : 36}
print(type(x))
print(x)
print(x['name'])
x['name']='tes'
x['height']=45
print(x)
print(x.keys())
print(x.values())
print(x.items())

<class 'dict'>
{'name': 'John', 'age': 36}
John
{'name': 'tes', 'age': 36, 'height': 45}
dict_keys(['name', 'age', 'height'])
dict_values(['tes', 36, 45])
dict_items([('name', 'tes'), ('age', 36), ('height', 45)])

In [ ]:
for xi in x:
    print(xi)

name
age

In [ ]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [ ]:
x = True
print(type(x))
print(x)

<class 'bool'>
True

In [ ]:
x = True
print(type(x))
print(x)

In [ ]:
x = b"Hello"
print(type(x))
print(x)

<class 'bytes'>
b'Hello'

In [ ]:
x = bytearray(5)
print(type(x))
print(x)

<class 'bytearray'>
bytearray(b'\x00\x00\x00\x00\x00')

In [ ]:
x = memoryview(bytes(5))
print(type(x))
print(x)

<class 'memoryview'>
<memory at 0x7fc931301a10>

In [ ]:
x = None
print(type(x))
print(x)

<class 'NoneType'>
None

#Tentang bagaimana konversi dataset kedalam python

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd
data = load_iris()
print(type(data))

<class 'sklearn.utils.Bunch'>

In [ ]:
print(data)

Catatan1:
1. Pada dasarnya data (hasil konversi atau import) adalah berbentuk objek, bukan berbentuk sebagai data itu sendiri secara raw seperti di excel.
2. Karena dia objek maka dia memiliki sejumlah atribut dan method. Isinya adalah berbagai atribut, dan method untuk mengkases atau melakukan tindakan. 
3. Untuk mengakses isi sebenarnya (raw) gunakan atribut yang memuat data raw nya, atau gunakan methodnya.
4. Karena dia objek maka behaviournya adalah tergantung library mana dia berasal, kalau dia dari library panda maka gunakan class untuk objek itu di panda. Contoh untuk akses raw data dengan objek sklearn adalah data.data

In [ ]:
print(data.data_module)

sklearn.datasets.data

In [ ]:
print(data.DESCR)

In [ ]:
print(data.feature_names)

In [ ]:
print(data.filename)

iris.csv

In [ ]:
print(data.frame)

In [ ]:
print(data.target)

In [ ]:
print(data.target_names)

In [ ]:
print(data['target_names'])

In [ ]:
data1=pd.DataFrame(data.data)

In [ ]:
data1

Cara menambahkan kolom baru di data, dan tentang method tail() dan head()

In [ ]:
data2=pd.DataFrame(data.data, columns=data.feature_names)

#tambahkan kolom target pada data2, ambil dari isi atribut target data
data2['target']=data.target

#cetak 5 rekord di kepala/awal data2
data2.head()

In [ ]:
data2

In [ ]:
data = load_iris()
df = pd.DataFrame(data['data'], columns=data['feature_names'])

#tambahkan kolom target pada df, ambil dari kolom target data
df['target'] = data['target']

#cetak 5 rekord di ekor df atau paling terakhir
df.tail()

In [ ]:
from sklearn import datasets

#buat list fnames, yaitu berisi i untuk semua i yang ada di dalam dir(datasets) dan mengandung string 'load_'
fnames = [ i for i in dir(datasets) if 'load_' in i]
print(fnames)

['load_boston', 'load_breast_cancer', 'load_diabetes', 'load_digits', 'load_files', 'load_iris', 'load_linnerud', 'load_sample_image', 'load_sample_images', 'load_svmlight_file', 'load_svmlight_files', 'load_wine']

In [ ]:
from sklearn import datasets

#buat list fnames, yaitu berisi i untuk semua i yang ada di dalam dir(datasets) dan mengandung string 'load_'
fnames = [ i for i in dir(datasets) if 'load_' in i]
print(fnames)

['load_boston', 'load_breast_cancer', 'load_diabetes', 'load_digits', 'load_files', 'load_iris', 'load_linnerud', 'load_sample_image', 'load_sample_images', 'load_svmlight_file', 'load_svmlight_files', 'load_wine']

Catatan2:
iterasi pada looping, misal pada loopnig for, dapat kita perumum sebagai berikut:
iterasi menggunakan list
iterasi menggunakan range
iterasi menggunakan tuple
....
Iterasi menggunakan objek
.
Dengan prinsip "iterasi menggunakan objek" kita bisa langsung bisa mengakses data yang merupakan sebagai objek. Akan tetapi ingat! hanya objek yang bisa dicacah isinya.

In [ ]:
#kode ringkas di atas pada dasarnya sama saja di bawah ini
fnames2=[]
for i in dir(datasets):
  if 'load_' in i: 
    fnames2 = fnames2 + [i]
print(fnames2)

In [ ]:
type(dir(datasets))

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd
data = load_iris()

Catatan3:
Percobaan akses data langsung menggunakan iterasi langsung ke objek data

In [ ]:
for i in data.data:
  print(i)

In [ ]:
for i in data.data:
  print(i[0])

In [ ]:
#Jangan gunakan ini, kesalahannya yaitu bahwa data masih merupakan objek sklearn asli, 
#belum merupakan objek dataframe panda
print(data[0])

In [ ]:
print(data.feature_names)

Catatan 5:
Di bawah ini adalah cara memanipulasi isi dataset membentuk list dalam list yang baru. Akan tetapi disini dataset beum dikonversi menjadi dataframe, tetapi langsung digunakan sebagai objek aslinya.

In [ ]:
#Cara yang keliru untuk membuat list dalam list
a=[]
for i in data.data:
  a=a+[i[0],i[1]]

print(a)

[5.1, 3.5, 4.9, 3.0, 4.7, 3.2, 4.6, 3.1, 5.0, 3.6, 5.4, 3.9, 4.6, 3.4, 5.0, 3.4, 4.4, 2.9, 4.9, 3.1, 5.4, 3.7, 4.8, 3.4, 4.8, 3.0, 4.3, 3.0, 5.8, 4.0, 5.7, 4.4, 5.4, 3.9, 5.1, 3.5, 5.7, 3.8, 5.1, 3.8, 5.4, 3.4, 5.1, 3.7, 4.6, 3.6, 5.1, 3.3, 4.8, 3.4, 5.0, 3.0, 5.0, 3.4, 5.2, 3.5, 5.2, 3.4, 4.7, 3.2, 4.8, 3.1, 5.4, 3.4, 5.2, 4.1, 5.5, 4.2, 4.9, 3.1, 5.0, 3.2, 5.5, 3.5, 4.9, 3.6, 4.4, 3.0, 5.1, 3.4, 5.0, 3.5, 4.5, 2.3, 4.4, 3.2, 5.0, 3.5, 5.1, 3.8, 4.8, 3.0, 5.1, 3.8, 4.6, 3.2, 5.3, 3.7, 5.0, 3.3, 7.0, 3.2, 6.4, 3.2, 6.9, 3.1, 5.5, 2.3, 6.5, 2.8, 5.7, 2.8, 6.3, 3.3, 4.9, 2.4, 6.6, 2.9, 5.2, 2.7, 5.0, 2.0, 5.9, 3.0, 6.0, 2.2, 6.1, 2.9, 5.6, 2.9, 6.7, 3.1, 5.6, 3.0, 5.8, 2.7, 6.2, 2.2, 5.6, 2.5, 5.9, 3.2, 6.1, 2.8, 6.3, 2.5, 6.1, 2.8, 6.4, 2.9, 6.6, 3.0, 6.8, 2.8, 6.7, 3.0, 6.0, 2.9, 5.7, 2.6, 5.5, 2.4, 5.5, 2.4, 5.8, 2.7, 6.0, 2.7, 5.4, 3.0, 6.0, 3.4, 6.7, 3.1, 6.3, 2.3, 5.6, 3.0, 5.5, 2.5, 5.5, 2.6, 6.1, 3.0, 5.8, 2.6, 5.0, 2.3, 5.6, 2.7, 5.7, 3.0, 5.7, 2.9, 6.2, 2.9, 5.1, 2.5, 5.7, 2.8, 6.3, 3.3, 5.8, 2.7, 7.1, 3.0, 6.3, 2.9, 6.5, 3.0, 7.6, 3.0, 4.9, 2.5, 7.3, 2.9, 6.7, 2.5, 7.2, 3.6, 6.5, 3.2, 6.4, 2.7, 6.8, 3.0, 5.7, 2.5, 5.8, 2.8, 6.4, 3.2, 6.5, 3.0, 7.7, 3.8, 7.7, 2.6, 6.0, 2.2, 6.9, 3.2, 5.6, 2.8, 7.7, 2.8, 6.3, 2.7, 6.7, 3.3, 7.2, 3.2, 6.2, 2.8, 6.1, 3.0, 6.4, 2.8, 7.2, 3.0, 7.4, 2.8, 7.9, 3.8, 6.4, 2.8, 6.3, 2.8, 6.1, 2.6, 7.7, 3.0, 6.3, 3.4, 6.4, 3.1, 6.0, 3.0, 6.9, 3.1, 6.7, 3.1, 6.9, 3.1, 5.8, 2.7, 6.8, 3.2, 6.7, 3.3, 6.7, 3.0, 6.3, 2.5, 6.5, 3.0, 6.2, 3.4, 5.9, 3.0]

In [ ]:
#Cara yang benar untuk membuat list dalam list
a=[]
for i in data.data:
  a=a+[[i[0],i[1]]]

print(a)

[[5.1, 3.5], [4.9, 3.0], [4.7, 3.2], [4.6, 3.1], [5.0, 3.6], [5.4, 3.9], [4.6, 3.4], [5.0, 3.4], [4.4, 2.9], [4.9, 3.1], [5.4, 3.7], [4.8, 3.4], [4.8, 3.0], [4.3, 3.0], [5.8, 4.0], [5.7, 4.4], [5.4, 3.9], [5.1, 3.5], [5.7, 3.8], [5.1, 3.8], [5.4, 3.4], [5.1, 3.7], [4.6, 3.6], [5.1, 3.3], [4.8, 3.4], [5.0, 3.0], [5.0, 3.4], [5.2, 3.5], [5.2, 3.4], [4.7, 3.2], [4.8, 3.1], [5.4, 3.4], [5.2, 4.1], [5.5, 4.2], [4.9, 3.1], [5.0, 3.2], [5.5, 3.5], [4.9, 3.6], [4.4, 3.0], [5.1, 3.4], [5.0, 3.5], [4.5, 2.3], [4.4, 3.2], [5.0, 3.5], [5.1, 3.8], [4.8, 3.0], [5.1, 3.8], [4.6, 3.2], [5.3, 3.7], [5.0, 3.3], [7.0, 3.2], [6.4, 3.2], [6.9, 3.1], [5.5, 2.3], [6.5, 2.8], [5.7, 2.8], [6.3, 3.3], [4.9, 2.4], [6.6, 2.9], [5.2, 2.7], [5.0, 2.0], [5.9, 3.0], [6.0, 2.2], [6.1, 2.9], [5.6, 2.9], [6.7, 3.1], [5.6, 3.0], [5.8, 2.7], [6.2, 2.2], [5.6, 2.5], [5.9, 3.2], [6.1, 2.8], [6.3, 2.5], [6.1, 2.8], [6.4, 2.9], [6.6, 3.0], [6.8, 2.8], [6.7, 3.0], [6.0, 2.9], [5.7, 2.6], [5.5, 2.4], [5.5, 2.4], [5.8, 2.7], [6.0, 2.7], [5.4, 3.0], [6.0, 3.4], [6.7, 3.1], [6.3, 2.3], [5.6, 3.0], [5.5, 2.5], [5.5, 2.6], [6.1, 3.0], [5.8, 2.6], [5.0, 2.3], [5.6, 2.7], [5.7, 3.0], [5.7, 2.9], [6.2, 2.9], [5.1, 2.5], [5.7, 2.8], [6.3, 3.3], [5.8, 2.7], [7.1, 3.0], [6.3, 2.9], [6.5, 3.0], [7.6, 3.0], [4.9, 2.5], [7.3, 2.9], [6.7, 2.5], [7.2, 3.6], [6.5, 3.2], [6.4, 2.7], [6.8, 3.0], [5.7, 2.5], [5.8, 2.8], [6.4, 3.2], [6.5, 3.0], [7.7, 3.8], [7.7, 2.6], [6.0, 2.2], [6.9, 3.2], [5.6, 2.8], [7.7, 2.8], [6.3, 2.7], [6.7, 3.3], [7.2, 3.2], [6.2, 2.8], [6.1, 3.0], [6.4, 2.8], [7.2, 3.0], [7.4, 2.8], [7.9, 3.8], [6.4, 2.8], [6.3, 2.8], [6.1, 2.6], [7.7, 3.0], [6.3, 3.4], [6.4, 3.1], [6.0, 3.0], [6.9, 3.1], [6.7, 3.1], [6.9, 3.1], [5.8, 2.7], [6.8, 3.2], [6.7, 3.3], [6.7, 3.0], [6.3, 2.5], [6.5, 3.0], [6.2, 3.4], [5.9, 3.0]]

InShaa Allah rencana besok:
- Import data lalu manipulasi
- Mulai kerjakan Algoritma dinda
- Jangan lupa review paper binus
- Jangan lupa siapkan proposal RIIM

Algoritma kally:
0. Start
1. Tambahkan kolom kelas pada dataset.
2. Pilih k buah acak rekord.
3. Masing kolom kelas dari k buah titik terpilih ditandai dengan k buah label. k adalah sebuah list.
4. Start Loop 1 :Untuk setiap titik x selain k terpilih dan selain x terlabel, ukur jaraknya ke titik k[i].
5. Jika x terdekat ke k[i], maka tandai x dengan label k[i]. Yaitu x[label]=k[i][label]
6. kemudian k[i]=x.
7. kembali ke start loop 1
8. klaseterisasi berdasarkan ally selesai.
9. Hitung centroid semua kelas.
10. Revisi k acak menjadi: k[i]=mean{k[i]|...}.
11. Hitung Jarak rata-rata (JR) semua k[i] baru ke k[i] lama. 
12. Periksa apakah JR =< treshold?
13. Jika Ya maka algoritma SELESAI.
14. Jika belum maka ulang langkah 4.
15. SELESAI.

###Mulai Konstruksi Algoritma

**A. Pemilihan dataset, konversi ke dataframe dan penambahan kolom baru yaitu kolom label**

In [ ]:
#Pemilihan dataset, diambil dari sklearn.datasets, dan import pandas
from sklearn.datasets import load_iris
import pandas as pd
data = load_iris()
data_frame = pd.DataFrame(data['data'], columns=data['feature_names'])

In [ ]:
#Kondisi di bawah ini error karena indeks kolom data['data'] hanya berukuran 4, tetapi kita menambahkan kolom 5
#Konversi ke dataframe
#kolom=data['feature_names']
data_frame = pd.DataFrame(data['data'], columns=data['feature_names'])

#tambahkan kolom label pada data_frame

In [ ]:
for i in data_frame:
  data_frame['label']=None

In [ ]:
print(data_frame)

In [ ]:
data_frame.index

RangeIndex(start=0, stop=150, step=1)

**B. Memilih secara random k buah titik**

In [ ]:
for i in data_frame.index:
  print(i)

In [ ]:
print(min(data_frame.index))
max(data_frame.index)

In [ ]:
import random
a=random.randint(min(data_frame.index),max(data_frame.index))
print(a)
print(type(data_frame.loc[a]))
print(data_frame.loc[a]['label'])
data_frame.loc[a]

20
<class 'pandas.core.series.Series'>
None

sepal length (cm)     5.4
sepal width (cm)      3.4
petal length (cm)     1.7
petal width (cm)      0.2
label                None
Name: 20, dtype: object

In [ ]:
a=random.randint(min(data_frame.index),max(data_frame.index))
b=random.randint(min(data_frame.index),max(data_frame.index))
print(a)
print(data_frame.loc[a])
print(b)
print(data_frame.loc[b])

Rancangan algoritma untuk memilih k rekord acak, yang dihasilkan indeks dari rekord yang terpilih.
0. Start
1. Tentukan k
1. pusat_sekutu=[]
2. for i in [0:k]:
      a=random.randint(min(data_frame.index),max(data_frame.index))
      if a not in pusat_sekutu:
        pusat_sekutu=pusat_sekutu + [a]

In [ ]:
#Tes buat fungsi
def my_function(fname):
  print(fname + " Refsnes")

In [ ]:
my_function('oklah')

*Algoritma pembentukan pusat sekutu secara acak*

In [ ]:
#Tes Algoritma pemilihan pusat sekutu secara acak
def build_centroid_random(k,min,max):
  import random
  centroid=[]
  for i in range(k):
    a=random.randint(min,max) 
    if a not in centroid:
      centroid=centroid+[a]
  return centroid

In [ ]:
pusat_sekutu=build_centroid_random(2,0,max(data_frame.index))

In [ ]:
pusat_sekutu

[122, 111]

Rancangan algoritma untuk mengukur jarak setiap titik ke centroid
0. Start Loop 1 :
1. Untuk setiap titik x selain k terpilih dan selain x terlabel, ukur jaraknya 2. ke titik k[i].
3. Jika x terdekat ke k[i], maka tandai x dengan label k[i]. Yaitu x[label]=k[i][label]
4. kemudian k[i]=x.
5. kembali ke start loop 1
6. klaseterisasi berdasarkan ally selesai.

In [ ]:
#Bagaimana menset nilai pada dataframe?
print(data_frame.loc[0]['label'])

for i in data_frame:
  data_frame['label']=None
data_frame.at[0,'label']=0
data_frame

In [ ]:
#Bagaimana membaca nilai field pada rekord
for x in data_frame.index:
  print(data_frame.loc[x]['label'])

In [ ]:
#Arsip, Ini keliru karena nilai terkakhir tidak diisi mengingat sifat range.
for x in range(min(data_frame.index),max(data_frame.index)): #disini kelirunya harusnya ga usah pake range, pake data_frame.index saja.
  if data_frame.loc[x]['label'] not in pusat_sekutu:
    data_frame.at[x,'label']='bukan pusat'

for x in data_frame.index:
  if data_frame.loc[x]['label'] not in pusat_sekutu:
    data_frame.at[x,'label']='bukan pusat'

In [ ]:
data_frame

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,bukan pusat
1,4.9,3.0,1.4,0.2,bukan pusat
2,4.7,3.2,1.3,0.2,bukan pusat
3,4.6,3.1,1.5,0.2,bukan pusat
4,5.0,3.6,1.4,0.2,bukan pusat
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,bukan pusat
146,6.3,2.5,5.0,1.9,bukan pusat
147,6.5,3.0,5.2,2.0,bukan pusat
148,6.2,3.4,5.4,2.3,bukan pusat
149,5.9,3.0,5.1,1.8,bukan pusat

In [ ]:
#Tes, data_frame bisa diakses hanya berdasarkan indeks kolom
data_frame.loc[0][4]

In [ ]:
#Buat fungsi jarak sehinga tidak harus import library numpy atau tidak bergantung versi python
import math
def distance_ally(p,q):
  kuadrat_komponen=[]
  for i in range(len(p)):
    kuadrat_komponen=kuadrat_komponen+[(p[i]-q[i])*(p[i]-q[i])]
  jumlah=0
  for i in kuadrat_komponen:
    jumlah=jumlah+i
  return math.sqrt(jumlah)

print(distance_ally([2,2],[3,3]))

1.4142135623730951

In [ ]:
p=[2,3,4]
print(len(p))
p[0]

3

2

In [6]:
data['feature_names'][0]

'sepal length (cm)'

In [11]:
print(range(0,len(data_frame.columns)-1))

range(0, 4)

In [12]:
komponen=[i for i in range(0,len(data_frame.columns)-1)] 
print(komponen)

[0, 1, 2, 3]

In [2]:
#Sketsa algoritma
#Pemilihan dataset, diambil dari sklearn.datasets, dan import pandas
from sklearn.datasets import load_iris
import pandas as pd
data = load_iris()
data_frame = pd.DataFrame(data['data'], columns=data['feature_names'])

#Fungsi Jarak
def distance_ally(p,q):
  import math
  kuadrat_komponen=[]
  for i in range(len(p)):
    kuadrat_komponen=kuadrat_komponen+[(p[i]-q[i])*(p[i]-q[i])]
  jumlah=0
  for i in kuadrat_komponen:
    jumlah=jumlah+i
  return math.sqrt(jumlah)

#Fungsi random
def build_centroid_random(k,min,max):
  import random
  centroid=[]
  for i in range(k):
    a=random.randint(min,max) 
    if a not in centroid:
      centroid=centroid+[a]
  return centroid

#Alhamdulillah kode ini sudah diuji untuk menghitung mean perklaster
def calculate_mean(data_frame,pusat_sekutu,komponen):
  total_perklaster=[0 for i in pusat_sekutu]
  counter_klaster=[0 for i in pusat_sekutu]
  #print(total_perklaster)
  for y in range(len(pusat_sekutu)):
    total_perklaster[y]=[0 for j in komponen]
  #print(total_perklaster[0])
  for y in range(len(pusat_sekutu)):
    sum=[0 for i in komponen]
    counter_detil=0
    for w in komponen:
      for x in data_frame.index:
        if data_frame.loc[x]['label']==pusat_sekutu[y]:
          sum[w]=sum[w]+data_frame.at[x,data_frame.columns[w]]
          if w==0 : counter_detil=counter_detil+1
    counter_klaster[y]=counter_detil
    total_perklaster[y]=sum

  #Hitung mean:
  mean_perklaster=[0 for y in pusat_sekutu]
  for y in range(len(pusat_sekutu)):
    mean_perklaster[y]=[total_perklaster[y][q]/counter_klaster[y] for q in komponen]

  return mean_perklaster

#Inisiasi label setiap rekord dataset dengan None
for i in data_frame:
  data_frame['label']=None

#Buat pusat_sekutu
pusat_sekutu=build_centroid_random(3,0,max(data_frame.index))

#Labeli pusat_sekutu dengan nilainya sendiri
for i in pusat_sekutu:
  data_frame.at[i,'label']=i

#Pilih kolom yang mau dijadikan komponen jarak, cukup indeks kolomnya saja
komponen=[0,1,2,3] 

#Pindah ke alamat memori baru
centroid=[]
for i in pusat_sekutu:
  centroid=centroid+[i]

#Alternatif: centroid=[i for i in pusat_sekutu]
#-------------------------------------------------------------------------------
for x in data_frame.index:
  if data_frame.loc[x]['label'] not in pusat_sekutu:
    jarak_list=[]
    for y in centroid:
      #isi p dan q
      p=[] 
      for i in komponen: p=p+[data_frame.loc[y][i]]
      q=[]
      for i in komponen: q=q+[data_frame.loc[x][i]]
      jarak_list=jarak_list+[distance_ally(p, q)]
    for w in range(len(jarak_list)):
      if jarak_list[w]==min(jarak_list):
        data_frame.at[x,'label']=data_frame.at[pusat_sekutu[w],'label']
        centroid[w]=x

**Rekonstruksi Algoritma menjadi bentuk Class**

In [9]:
from numpy import square
import pandas as pd
import random
import math

class Kally:
  def __init__(self,data,columns,k=3,min_index_data=0,iteration=10,treshold=0.05) -> None:
      #import pandas as pd
      self.data = data
      self.columns=columns
      self.data_frame = pd.DataFrame(data=data, columns=columns)
      self.iteration=iteration
      self.treshold=treshold
      self.mean=None

      #Inisiasi label setiap rekord dataset dengan None
      for i in self.data_frame:
        self.data_frame['label']=None
      
      #Buat pusat_sekutu
      self.pusat_sekutu=self.build_centroid_random(k,min_index_data,max(self.data_frame.index))
      
      #Labeli pusat_sekutu dengan nilainya sendiri
      r=0
      C=[]
      for i in self.pusat_sekutu:
        r=r+1
        self.data_frame.at[i,'label']="C"+str(r)
        C=C+["C"+str(r)]
      print(C)
      #Pilih kolom yang mau dijadikan komponen jarak, cukup indeks kolomnya saja
      self.komponen=[i for i in range(0,len(self.data_frame.columns)-1)]
      
      #Pindah ke alamat memori baru
      p=[None for y in self.pusat_sekutu]
      self.centroid=[i for i in self.pusat_sekutu]
      for y in range(len(self.centroid)):
        p[y]=[]
        for i in self.komponen: p[y]=p[y]+[self.data_frame.loc[self.centroid[y]][i]]
      
      for t in range(1):#self.iteration):
        '''
        Tahap pelabelan atau klasterisasi berdasarkan kemiripan untuk bersekutu.
        Tahap pelabelan untuk satu iterasi.
        '''
        for x in self.data_frame.index:
          if self.data_frame.loc[x]['label'] not in C:
            jarak_list=[]
            #Ukur jarak antara setiap titik centroid dengan setiap titik x di data_frame
            q=[]
            for i in self.komponen: q=q+[self.data_frame.loc[x][i]]
            for y in p:
              jarak_list=jarak_list+[self.distance_ally(y, q)]
            for w in range(len(jarak_list)):
              if jarak_list[w]==min(jarak_list):
                print('jarak_list=',jarak_list)
                print('jarak_list[',w,']',jarak_list[w])
                print('min(jarak_list)=',min(jarak_list))
                print('rekord sebelum pelabelan: ',self.data_frame.loc[x])
                self.data_frame.at[x,'label']=C[w]  #self.data_frame.at[self.pusat_sekutu[w],'label']
                print('rekord SETELAH pelabelan: ',self.data_frame.loc[x])
                self.centroid[w]=x #apakah ini perlu?
                print('sebelum:',p)
                p[w]=[self.data_frame.at[x,self.data_frame.columns[w]] for i in self.komponen] #JANGAN LUPA TES DULU INI
                print('p[',w,']',p[w])
                print('sesudah:',p)

        '''
        Perhitungan ulang centroid klaster setelah pelabelan selesai.
        Kemudian p diganti dengan centroid baru hasil perhitungan self.mean.
        Titik p kemudian digunakan untuk iterasi berikut.
        '''
        self.mean=self.calculate_mean(self.data_frame,self.pusat_sekutu,self.komponen)
        rerata_mse=0
        for i in range(len(p)):
          rerata_mse=rerata_mse+self.mse(p[i],self.mean[i])
        
        #print('p sebelum =', p)
        #print('self.mean sesudah hitung mean =', self.mean)
        p=self.mean
        #print('p sesudah persamaan dengan self.mean =', p)
        #print('self.mean sesudah persamaan dengan p =', self.mean)

        #print(self.mean)
        #self.centroid=[i for i in self.centroid]
      
  #Fungsi MSE (Mean Squarred Error)
  def mse(self, vektor1, vektor2):
    try:
      jarak=0
      square_sum=0
      for i in range(len(vektor1)):
        jarak=vektor1[i]-vektor2[i]
        square=jarak*jarak
        square_sum=square_sum+square
      _mse=square_sum/len(vektor1)
    except:
      print('terjadi kesalahan: mungkin panjang vektor yang dikuru tidak sama, atau indeks vektor bukan 0,1,2,..')
    finally:
      return _mse
  
  #Fungsi Jarak
  def distance_ally(self,p,q):
    #import math
    kuadrat_komponen=[]
    for i in range(len(p)):
      kuadrat_komponen=kuadrat_komponen+[(p[i]-q[i])*(p[i]-q[i])]
    jumlah=0
    for i in kuadrat_komponen:
      jumlah=jumlah+i
    return math.sqrt(jumlah)
  
  #Fungsi random
  def build_centroid_random(self,k,min,max):
    #import random
    centroid=[]
    for i in range(k):
      a=random.randint(min,max) 
      if a not in centroid:
        centroid=centroid+[a]
    return centroid

  #Alhamdulillah kode ini sudah diuji untuk menghitung mean perklaster
  def calculate_mean(self,data_frame,pusat_sekutu,komponen):
    #print(data_frame)
    #print(pusat_sekutu)
    #print(komponen)
    total_perklaster=[0 for i in pusat_sekutu]
    counter_klaster=[0 for i in pusat_sekutu]
    for y in range(len(pusat_sekutu)):
      total_perklaster[y]=[0 for j in komponen]
    for y in range(len(pusat_sekutu)):
      sum=[0 for i in komponen]
      counter_detil=0
      for w in komponen:
        for x in data_frame.index:
          if data_frame.loc[x]['label']==data_frame.loc[pusat_sekutu[y]]['label']:
            sum[w]=sum[w]+data_frame.at[x,data_frame.columns[w]]
            if w==0 : counter_detil=counter_detil+1
      counter_klaster[y]=counter_detil
      total_perklaster[y]=sum

    #Hitung mean:
    mean_perklaster=[0 for y in pusat_sekutu]
    for y in range(len(pusat_sekutu)):
      if counter_klaster[y]!=0:
        mean_perklaster[y]=[total_perklaster[y][q]/counter_klaster[y] for q in komponen]

    return mean_perklaster

In [10]:
from sklearn.datasets import load_iris
import pandas as pd
data = load_iris()
tes=Kally(data['data'], columns=data['feature_names'])

['C1', 'C2', 'C3']
jarak_list= [0.22360679774997896, 4.141255848169732, 0.45825756949558394]
jarak_list[ 0 ] 0.22360679774997896
min(jarak_list)= 0.22360679774997896
rekord sebelum pelabelan:  sepal length (cm)     5.1
sepal width (cm)      3.5
petal length (cm)     1.4
petal width (cm)      0.2
label                None
Name: 0, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.1
sepal width (cm)     3.5
petal length (cm)    1.4
petal width (cm)     0.2
label                 C1
Name: 0, dtype: object
sebelum: [[5.0, 3.3, 1.4, 0.2], [6.0, 2.2, 5.0, 1.5], [5.0, 3.5, 1.6, 0.6]]
p[ 0 ] [5.1, 5.1, 5.1, 5.1]
sesudah: [[5.1, 5.1, 5.1, 5.1], [6.0, 2.2, 5.0, 1.5], [5.0, 3.5, 1.6, 0.6]]
jarak_list= [6.492303135251772, 4.06201920231798, 0.6782329983125268]
jarak_list[ 2 ] 0.6782329983125268
min(jarak_list)= 0.6782329983125268
rekord sebelum pelabelan:  sepal length (cm)     4.9
sepal width (cm)      3.0
petal length (cm)     1.4
petal width (cm)      0.2
label                None
Name: 1, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.9
sepal width (cm)     3.0
petal length (cm)    1.4
petal width (cm)     0.2
label                 C3
Name: 1, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [6.0, 2.2, 5.0, 1.5], [5.0, 3.5, 1.6, 0.6]]
p[ 2 ] [1.4, 1.4, 1.4, 1.4]
sesudah: [[5.1, 5.1, 5.1, 5.1], [6.0, 2.2, 5.0, 1.5], [1.4, 1.4, 1.4, 1.4]]
jarak_list= [6.497691897897282, 4.250882261366457, 3.9471508711981103]
jarak_list[ 2 ] 3.9471508711981103
min(jarak_list)= 3.9471508711981103
rekord sebelum pelabelan:  sepal length (cm)     4.7
sepal width (cm)      3.2
petal length (cm)     1.3
petal width (cm)      0.2
label                None
Name: 2, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.7
sepal width (cm)     3.2
petal length (cm)    1.3
petal width (cm)     0.2
label                 C3
Name: 2, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [6.0, 2.2, 5.0, 1.5], [1.4, 1.4, 1.4, 1.4]]
p[ 2 ] [1.3, 1.3, 1.3, 1.3]
sesudah: [[5.1, 5.1, 5.1, 5.1], [6.0, 2.2, 5.0, 1.5], [1.3, 1.3, 1.3, 1.3]]
jarak_list= [6.4202803677098075, 4.0877866871939394, 3.9217343102255153]
jarak_list[ 2 ] 3.9217343102255153
min(jarak_list)= 3.9217343102255153
rekord sebelum pelabelan:  sepal length (cm)     4.6
sepal width (cm)      3.1
petal length (cm)     1.5
petal width (cm)      0.2
label                None
Name: 3, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.6
sepal width (cm)     3.1
petal length (cm)    1.5
petal width (cm)     0.2
label                 C3
Name: 3, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [6.0, 2.2, 5.0, 1.5], [1.3, 1.3, 1.3, 1.3]]
p[ 2 ] [1.5, 1.5, 1.5, 1.5]
sesudah: [[5.1, 5.1, 5.1, 5.1], [6.0, 2.2, 5.0, 1.5], [1.5, 1.5, 1.5, 1.5]]
jarak_list= [6.321392251711643, 4.196427051671457, 4.28485705712571]
jarak_list[ 1 ] 4.196427051671457
min(jarak_list)= 4.196427051671457
rekord sebelum pelabelan:  sepal length (cm)     5.0
sepal width (cm)      3.6
petal length (cm)     1.4
petal width (cm)      0.2
label                None
Name: 4, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.0
sepal width (cm)     3.6
petal length (cm)    1.4
petal width (cm)     0.2
label                 C2
Name: 4, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [6.0, 2.2, 5.0, 1.5], [1.5, 1.5, 1.5, 1.5]]
p[ 1 ] [3.6, 3.6, 3.6, 3.6]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.6, 3.6, 3.6, 3.6], [1.5, 1.5, 1.5, 1.5]]
jarak_list= [5.931273050534767, 4.144876355212541, 4.713809499757071]
jarak_list[ 1 ] 4.144876355212541
min(jarak_list)= 4.144876355212541
rekord sebelum pelabelan:  sepal length (cm)     5.4
sepal width (cm)      3.9
petal length (cm)     1.7
petal width (cm)      0.4
label                None
Name: 5, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.4
sepal width (cm)     3.9
petal length (cm)    1.7
petal width (cm)     0.4
label                 C2
Name: 5, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.6, 3.6, 3.6, 3.6], [1.5, 1.5, 1.5, 1.5]]
p[ 1 ] [3.9, 3.9, 3.9, 3.9]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.5, 1.5, 1.5, 1.5]]
jarak_list= [6.314269553954756, 4.466542286825459, 3.830143600441111]
jarak_list[ 2 ] 3.830143600441111
min(jarak_list)= 3.830143600441111
rekord sebelum pelabelan:  sepal length (cm)     4.6
sepal width (cm)      3.4
petal length (cm)     1.4
petal width (cm)      0.3
label                None
Name: 6, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.6
sepal width (cm)     3.4
petal length (cm)    1.4
petal width (cm)     0.3
label                 C3
Name: 6, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.5, 1.5, 1.5, 1.5]]
p[ 2 ] [1.4, 1.4, 1.4, 1.4]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.4, 1.4, 1.4, 1.4]]
jarak_list= [6.314269553954756, 4.57274534606947, 4.290687590584987]
jarak_list[ 2 ] 4.290687590584987
min(jarak_list)= 4.290687590584987
rekord sebelum pelabelan:  sepal length (cm)     5.0
sepal width (cm)      3.4
petal length (cm)     1.5
petal width (cm)      0.2
label                None
Name: 7, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.0
sepal width (cm)     3.4
petal length (cm)    1.5
petal width (cm)     0.2
label                 C3
Name: 7, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.4, 1.4, 1.4, 1.4]]
p[ 2 ] [1.5, 1.5, 1.5, 1.5]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.5, 1.5, 1.5, 1.5]]
jarak_list= [6.559725604017289, 4.603259714593562, 3.4741905532080417]
jarak_list[ 2 ] 3.4741905532080417
min(jarak_list)= 3.4741905532080417
rekord sebelum pelabelan:  sepal length (cm)     4.4
sepal width (cm)      2.9
petal length (cm)     1.4
petal width (cm)      0.2
label                None
Name: 8, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.4
sepal width (cm)     2.9
petal length (cm)    1.4
petal width (cm)     0.2
label                 C3
Name: 8, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.5, 1.5, 1.5, 1.5]]
p[ 2 ] [1.4, 1.4, 1.4, 1.4]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.4, 1.4, 1.4, 1.4]]
jarak_list= [6.48074069840786, 4.673328578219169, 4.1036569057366385]
jarak_list[ 2 ] 4.1036569057366385
min(jarak_list)= 4.1036569057366385
rekord sebelum pelabelan:  sepal length (cm)     4.9
sepal width (cm)      3.1
petal length (cm)     1.5
petal width (cm)      0.1
label                None
Name: 9, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.9
sepal width (cm)     3.1
petal length (cm)    1.5
petal width (cm)     0.1
label                 C3
Name: 9, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.4, 1.4, 1.4, 1.4]]
p[ 2 ] [1.5, 1.5, 1.5, 1.5]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.5, 1.5, 1.5, 1.5]]
jarak_list= [6.246599074696565, 4.662617290749907, 4.662617290749908]
jarak_list[ 1 ] 4.662617290749907
min(jarak_list)= 4.662617290749907
rekord sebelum pelabelan:  sepal length (cm)     5.4
sepal width (cm)      3.7
petal length (cm)     1.5
petal width (cm)      0.2
label                None
Name: 10, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.4
sepal width (cm)     3.7
petal length (cm)    1.5
petal width (cm)     0.2
label                 C2
Name: 10, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.5, 1.5, 1.5, 1.5]]
p[ 1 ] [3.7, 3.7, 3.7, 3.7]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.5, 1.5, 1.5, 1.5]]
jarak_list= [6.2641839053463295, 4.237924020083418, 4.024922359499621]
jarak_list[ 2 ] 4.024922359499621
min(jarak_list)= 4.024922359499621
rekord sebelum pelabelan:  sepal length (cm)     4.8
sepal width (cm)      3.4
petal length (cm)     1.6
petal width (cm)      0.2
label                None
Name: 11, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.8
sepal width (cm)     3.4
petal length (cm)    1.6
petal width (cm)     0.2
label                 C3
Name: 11, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.5, 1.5, 1.5, 1.5]]
p[ 2 ] [1.6, 1.6, 1.6, 1.6]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.6, 1.6, 1.6, 1.6]]
jarak_list= [6.5719099202591025, 4.466542286825459, 3.806573262134856]
jarak_list[ 2 ] 3.806573262134856
min(jarak_list)= 3.806573262134856
rekord sebelum pelabelan:  sepal length (cm)     4.8
sepal width (cm)      3.0
petal length (cm)     1.4
petal width (cm)      0.1
label                None
Name: 12, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.8
sepal width (cm)     3.0
petal length (cm)    1.4
petal width (cm)     0.1
label                 C3
Name: 12, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.6, 1.6, 1.6, 1.6]]
p[ 2 ] [1.4, 1.4, 1.4, 1.4]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.4, 1.4, 1.4, 1.4]]
jarak_list= [6.786015030929419, 4.535416188179426, 3.570714214271425]
jarak_list[ 2 ] 3.570714214271425
min(jarak_list)= 3.570714214271425
rekord sebelum pelabelan:  sepal length (cm)     4.3
sepal width (cm)      3.0
petal length (cm)     1.1
petal width (cm)      0.1
label                None
Name: 13, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.3
sepal width (cm)     3.0
petal length (cm)    1.1
petal width (cm)     0.1
label                 C3
Name: 13, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.4, 1.4, 1.4, 1.4]]
p[ 2 ] [1.1, 1.1, 1.1, 1.1]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.1, 1.1, 1.1, 1.1]]
jarak_list= [6.39687423668779, 4.795831523312719, 5.5964274318532885]
jarak_list[ 1 ] 4.795831523312719
min(jarak_list)= 4.795831523312719
rekord sebelum pelabelan:  sepal length (cm)     5.8
sepal width (cm)      4.0
petal length (cm)     1.2
petal width (cm)      0.2
label                None
Name: 14, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.8
sepal width (cm)     4.0
petal length (cm)    1.2
petal width (cm)     0.2
label                 C2
Name: 14, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.1, 1.1, 1.1, 1.1]]
p[ 1 ] [4.0, 4.0, 4.0, 4.0]
sesudah: [[5.1, 5.1, 5.1, 5.1], [4.0, 4.0, 4.0, 4.0], [1.1, 1.1, 1.1, 1.1]]
jarak_list= [5.991660871578096, 4.71805044483418, 5.718391382198319]
jarak_list[ 1 ] 4.71805044483418
min(jarak_list)= 4.71805044483418
rekord sebelum pelabelan:  sepal length (cm)     5.7
sepal width (cm)      4.4
petal length (cm)     1.5
petal width (cm)      0.4
label                None
Name: 15, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.7
sepal width (cm)     4.4
petal length (cm)    1.5
petal width (cm)     0.4
label                 C2
Name: 15, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [4.0, 4.0, 4.0, 4.0], [1.1, 1.1, 1.1, 1.1]]
p[ 1 ] [4.4, 4.4, 4.4, 4.4]
sesudah: [[5.1, 5.1, 5.1, 5.1], [4.4, 4.4, 4.4, 4.4], [1.1, 1.1, 1.1, 1.1]]
jarak_list= [6.169278726074872, 5.182663407939976, 5.182663407939976]
jarak_list[ 1 ] 5.182663407939976
min(jarak_list)= 5.182663407939976
rekord sebelum pelabelan:  sepal length (cm)     5.4
sepal width (cm)      3.9
petal length (cm)     1.3
petal width (cm)      0.4
label                None
Name: 16, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.4
sepal width (cm)     3.9
petal length (cm)    1.3
petal width (cm)     0.4
label                 C2
Name: 16, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [4.4, 4.4, 4.4, 4.4], [1.1, 1.1, 1.1, 1.1]]
p[ 1 ] [3.9, 3.9, 3.9, 3.9]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.1, 1.1, 1.1, 1.1]]
jarak_list= [6.169278726074872, 5.182663407939976, 5.182663407939976]
jarak_list[ 2 ] 5.182663407939976
min(jarak_list)= 5.182663407939976
rekord sebelum pelabelan:  sepal length (cm)    5.4
sepal width (cm)     3.9
petal length (cm)    1.3
petal width (cm)     0.4
label                 C2
Name: 16, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.4
sepal width (cm)     3.9
petal length (cm)    1.3
petal width (cm)     0.4
label                 C3
Name: 16, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.1, 1.1, 1.1, 1.1]]
p[ 2 ] [1.3, 1.3, 1.3, 1.3]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.3, 1.3, 1.3, 1.3]]
jarak_list= [6.268173577685927, 4.561797891182818, 4.504442251822083]
jarak_list[ 2 ] 4.504442251822083
min(jarak_list)= 4.504442251822083
rekord sebelum pelabelan:  sepal length (cm)     5.1
sepal width (cm)      3.5
petal length (cm)     1.4
petal width (cm)      0.3
label                None
Name: 17, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.1
sepal width (cm)     3.5
petal length (cm)    1.4
petal width (cm)     0.3
label                 C3
Name: 17, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.3, 1.3, 1.3, 1.3]]
p[ 2 ] [1.4, 1.4, 1.4, 1.4]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.4, 1.4, 1.4, 1.4]]
jarak_list= [6.053924347066125, 4.588027898781785, 5.054700782440046]
jarak_list[ 1 ] 4.588027898781785
min(jarak_list)= 4.588027898781785
rekord sebelum pelabelan:  sepal length (cm)     5.7
sepal width (cm)      3.8
petal length (cm)     1.7
petal width (cm)      0.3
label                None
Name: 18, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.7
sepal width (cm)     3.8
petal length (cm)    1.7
petal width (cm)     0.3
label                 C2
Name: 18, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.9, 3.9, 3.9, 3.9], [1.4, 1.4, 1.4, 1.4]]
p[ 1 ] [3.8, 3.8, 3.8, 3.8]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.8, 3.8, 3.8, 3.8], [1.4, 1.4, 1.4, 1.4]]
jarak_list= [6.139218191268331, 4.38520238985614, 4.546427168667722]
jarak_list[ 1 ] 4.38520238985614
min(jarak_list)= 4.38520238985614
rekord sebelum pelabelan:  sepal length (cm)     5.1
sepal width (cm)      3.8
petal length (cm)     1.5
petal width (cm)      0.3
label                None
Name: 19, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.1
sepal width (cm)     3.8
petal length (cm)    1.5
petal width (cm)     0.3
label                 C2
Name: 19, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.8, 3.8, 3.8, 3.8], [1.4, 1.4, 1.4, 1.4]]
p[ 1 ] [3.8, 3.8, 3.8, 3.8]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.8, 3.8, 3.8, 3.8], [1.4, 1.4, 1.4, 1.4]]
jarak_list= [6.208864630510154, 4.482186966202994, 4.640043103248073]
jarak_list[ 1 ] 4.482186966202994
min(jarak_list)= 4.482186966202994
rekord sebelum pelabelan:  sepal length (cm)     5.4
sepal width (cm)      3.4
petal length (cm)     1.7
petal width (cm)      0.2
label                None
Name: 20, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.4
sepal width (cm)     3.4
petal length (cm)    1.7
petal width (cm)     0.2
label                 C2
Name: 20, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.8, 3.8, 3.8, 3.8], [1.4, 1.4, 1.4, 1.4]]
p[ 1 ] [3.4, 3.4, 3.4, 3.4]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.4, 3.4, 3.4, 3.4], [1.4, 1.4, 1.4, 1.4]]
jarak_list= [6.083584469702052, 3.9484174044799265, 4.471017781221631]
jarak_list[ 1 ] 3.9484174044799265
min(jarak_list)= 3.9484174044799265
rekord sebelum pelabelan:  sepal length (cm)     5.1
sepal width (cm)      3.7
petal length (cm)     1.5
petal width (cm)      0.4
label                None
Name: 21, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.1
sepal width (cm)     3.7
petal length (cm)    1.5
petal width (cm)     0.4
label                 C2
Name: 21, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.4, 3.4, 3.4, 3.4], [1.4, 1.4, 1.4, 1.4]]
p[ 1 ] [3.7, 3.7, 3.7, 3.7]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.4, 1.4, 1.4, 1.4]]
jarak_list= [6.581793068761733, 4.512205669071391, 4.084115571332427]
jarak_list[ 2 ] 4.084115571332427
min(jarak_list)= 4.084115571332427
rekord sebelum pelabelan:  sepal length (cm)     4.6
sepal width (cm)      3.6
petal length (cm)     1.0
petal width (cm)      0.2
label                None
Name: 22, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.6
sepal width (cm)     3.6
petal length (cm)    1.0
petal width (cm)     0.2
label                 C3
Name: 22, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.4, 1.4, 1.4, 1.4]]
p[ 2 ] [1.0, 1.0, 1.0, 1.0]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.0, 1.0, 1.0, 1.0]]
jarak_list= [5.996665740225979, 4.044749683231337, 4.779121258139408]
jarak_list[ 1 ] 4.044749683231337
min(jarak_list)= 4.044749683231337
rekord sebelum pelabelan:  sepal length (cm)     5.1
sepal width (cm)      3.3
petal length (cm)     1.7
petal width (cm)      0.5
label                None
Name: 23, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.1
sepal width (cm)     3.3
petal length (cm)    1.7
petal width (cm)     0.5
label                 C2
Name: 23, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.7, 3.7, 3.7, 3.7], [1.0, 1.0, 1.0, 1.0]]
p[ 1 ] [3.3, 3.3, 3.3, 3.3]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.3, 3.3, 3.3, 3.3], [1.0, 1.0, 1.0, 1.0]]
jarak_list= [6.101639124038719, 3.71887079635741, 4.652956049652737]
jarak_list[ 1 ] 3.71887079635741
min(jarak_list)= 3.71887079635741
rekord sebelum pelabelan:  sepal length (cm)     4.8
sepal width (cm)      3.4
petal length (cm)     1.9
petal width (cm)      0.2
label                None
Name: 24, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    4.8
sepal width (cm)     3.4
petal length (cm)    1.9
petal width (cm)     0.2
label                 C2
Name: 24, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.3, 3.3, 3.3, 3.3], [1.0, 1.0, 1.0, 1.0]]
p[ 1 ] [3.4, 3.4, 3.4, 3.4]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.4, 3.4, 3.4, 3.4], [1.0, 1.0, 1.0, 1.0]]
jarak_list= [6.378087487640789, 4.024922359499621, 4.58257569495584]
jarak_list[ 1 ] 4.024922359499621
min(jarak_list)= 4.024922359499621
rekord sebelum pelabelan:  sepal length (cm)     5.0
sepal width (cm)      3.0
petal length (cm)     1.6
petal width (cm)      0.2
label                None
Name: 25, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.0
sepal width (cm)     3.0
petal length (cm)    1.6
petal width (cm)     0.2
label                 C2
Name: 25, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.4, 3.4, 3.4, 3.4], [1.0, 1.0, 1.0, 1.0]]
p[ 1 ] [3.0, 3.0, 3.0, 3.0]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.0, 3.0, 3.0, 3.0], [1.0, 1.0, 1.0, 1.0]]
jarak_list= [6.102458520956942, 3.588871688985272, 4.741307836451879]
jarak_list[ 1 ] 3.588871688985272
min(jarak_list)= 3.588871688985272
rekord sebelum pelabelan:  sepal length (cm)     5.0
sepal width (cm)      3.4
petal length (cm)     1.6
petal width (cm)      0.4
label                None
Name: 26, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.0
sepal width (cm)     3.4
petal length (cm)    1.6
petal width (cm)     0.4
label                 C2
Name: 26, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.0, 3.0, 3.0, 3.0], [1.0, 1.0, 1.0, 1.0]]
p[ 1 ] [3.4, 3.4, 3.4, 3.4]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.4, 3.4, 3.4, 3.4], [1.0, 1.0, 1.0, 1.0]]
jarak_list= [6.288083968904995, 4.135214625627067, 4.9779513858614575]
jarak_list[ 1 ] 4.135214625627067
min(jarak_list)= 4.135214625627067
rekord sebelum pelabelan:  sepal length (cm)     5.2
sepal width (cm)      3.5
petal length (cm)     1.5
petal width (cm)      0.2
label                None
Name: 27, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.2
sepal width (cm)     3.5
petal length (cm)    1.5
petal width (cm)     0.2
label                 C2
Name: 27, dtype: object
sebelum: [[5.1, 5.1, 5.1, 5.1], [3.4, 3.4, 3.4, 3.4], [1.0, 1.0, 1.0, 1.0]]
p[ 1 ] [3.5, 3.5, 3.5, 3.5]
sesudah: [[5.1, 5.1, 5.1, 5.1], [3.5, 3.5, 3.5, 3.5], [1.0, 1.0, 1.0, 1.0]]
jarak_list= [6.371812928829596, 4.266145801540309, 4.919349550499537]
jarak_list[ 1 ] 4.266145801540309
min(jarak_list)= 4.266145801540309
rekord sebelum pelabelan:  sepal length (cm)     5.2
sepal width (cm)      3.4
petal length (cm)     1.4
petal width (cm)      0.2
label                None
Name: 28, dtype: object
rekord SETELAH pelabelan:  sepal length (cm)    5.2

In [25]:
def mse(vektor1, vektor2):
    try:
      jarak=0
      square_sum=0
      for i in range(len(vektor1)):
        jarak=vektor1[i]-vektor2[i]
        square=jarak*jarak
        square_sum=square_sum+square
      _mse=square_sum/len(vektor1)
    except:
      print('terjadi kesalahan: mungkin panjang vektor yang dikuru tidak sama, atau indeks vektor bukan 0,1,2,..')
    finally:
      return _mse

In [26]:
a=mse([2,3,4],[2,4,3])
print(a)

0.6666666666666666

In [7]:
tes.data_frame.columns[1]

'sepal width (cm)'

In [26]:
res=["C" for i in pusat_sekutu]
for i in range(len(pusat_sekutu)):
  res[i]="C"+str(i)
  print(res[i])

C0
C1
C2

In [43]:
tes.centroid

[149, 49, 148]

In [3]:
centroids=pusat_sekutu
print(id(centroids))
print(id(pusat_sekutu))

centroids=[i for i in pusat_sekutu]
print(id(centroids))
print(id(pusat_sekutu))

139956502702432
139956502702432
139956371035232
139956502702432

In [46]:
data_frame_tes = pd.DataFrame(data['data'][0:2],columns=data['feature_names'])

In [ ]:
data.data[0:3]

In [ ]:
data['data'][0:3]

In [47]:
data_frame_tes

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2

Hitung mean:
1. Untuk setiap klaster, semua anggota klaster dijumlahkan semuanya pada satu komponen, kemudian satu persartu komponen yang lain.
2. Setiap hasil jumlah total dibagi dengan jumlah angota klaster.
3. Hasil pekomponen adalah mean daripada klaster tersebut.
<hr/>

1. Untuk setiap klaster berarti:<br>
Hitung y mulai dari indeks 0 ke panjang pusat_sekutu-1.<br>
kemudian cek setiap x di semesta titik, apakah label sama dengan nilai indeks pusat_sekutu[y]?<br>
Jika sama maka langsung jumlahkan dan simpan di sum[y], inisiasi sum[y]=0 di saat setiap y dimulai, jadi tepat dibawah loop y.<br>
Sampai sini semestinya semua penjumlahan total tersimpan di sum.
2. Lalu buat fungsi counter yang menghitung jumlah anggota setiap klaster.<br>
Hitung y mulai dari indeks 0 ke panjang pusat_sekutu-1.<br>
Inisiasi counter[y]=0 <br>
Untuk setiap x yang labelnya sama dengan pusat_sekutu[y], tambahkan ke counter[y]
<br> Demikian sehingga diperoleh counter yang menyatakan jumlah anggota perklaster.
3. Kemudian buat fungsi yang menghitung mean dengan input adalah sum dan counter.<br> Nyatakan mean sebagai sum[y]/counter[y].
4. SELESAI.

In [32]:
#INI FUNGSI LAMA, OBSELET
#Hitung mean dari klaster
def sum_cluster(pusat_sekutu, data_frame,komponen):
  sum=[0 for i in komponen]
  for w in komponen:
    for y in range(len(pusat_sekutu)):
      for x in data_frame.index:
        if data_frame.loc[x]['label']==pusat_sekutu[y]:
          sum[y]=sum[y]+data_frame.at[x,data_frame.columns[w]]
  return sum

In [ ]:
data_frame_tes=None
for i in data_frame:
  data_frame_tes

In [94]:
#Alhamdulillah kode ini sudah diuji untuk menghitung mean perklaster
def calculate_mean(data_frame,pusat_sekutu,komponen):
  total_perklaster=[0 for i in pusat_sekutu]
  counter_klaster=[0 for i in pusat_sekutu]
  #print(total_perklaster)
  for y in range(len(pusat_sekutu)):
    total_perklaster[y]=[0 for j in komponen]
  #print(total_perklaster[0])
  for y in range(len(pusat_sekutu)):
    sum=[0 for i in komponen]
    counter_detil=0
    for w in komponen:
      for x in data_frame.index:
        if data_frame.loc[x]['label']==pusat_sekutu[y]:
          sum[w]=sum[w]+data_frame.at[x,data_frame.columns[w]]
          if w==0 : counter_detil=counter_detil+1
    counter_klaster[y]=counter_detil
    total_perklaster[y]=sum

  #Hitung mean:
  mean_perklaster=[0 for y in pusat_sekutu]
  for y in range(len(pusat_sekutu)):
    mean_perklaster[y]=[total_perklaster[y][q]/counter_klaster[y] for q in komponen]

  return mean_perklaster

In [95]:
a=calculate_mean(data_frame,pusat_sekutu,komponen)
print(a)

[[5.383529411764707, 3.140000000000001, 2.723529411764706, 0.7717647058823527], [6.2818181818181795, 2.903636363636364, 4.889090909090909, 1.681818181818181], [7.340000000000001, 3.2, 6.33, 2.18]]

In [89]:
print(total_perklaster)
print(counter_klaster)
print(mean_perklaster)

[[250.29999999999998, 171.40000000000003, 73.10000000000001, 12.299999999999995], [356.6999999999998, 164.4, 280.29999999999995, 96.89999999999998], [269.5, 122.79999999999998, 210.29999999999998, 70.7]]
[50, 55, 45]
[[5.005999999999999, 3.428000000000001, 1.4620000000000002, 0.2459999999999999], [6.485454545454542, 2.9890909090909092, 5.096363636363636, 1.7618181818181815], [5.988888888888889, 2.7288888888888887, 4.673333333333333, 1.5711111111111111]]

In [ ]:
data_frame

In [6]:
y=0
print(pusat_sekutu)
print(pusat_sekutu[y])
pusat_sekutu[1]

[46, 27, 133]
46

27

In [21]:
data_frame.columns[1]

'sepal width (cm)'

In [ ]:
sum=[0 for i in range(len(pusat_sekutu))]
for w in komponen:
  for y in range(len(pusat_sekutu)):
    for x in data_frame.index:
      if data_frame.loc[x]['label']==pusat_sekutu[y]:
        print(data_frame.at[x,data_frame.columns[w]])

In [8]:
komponen

[0, 1, 2, 3]

In [25]:
a=sum_cluster(pusat_sekutu, data_frame,komponen)
print(a)

[245.49999999999991, 891.7999999999994, 941.3999999999994]

In [ ]:
#cek:
sum=[i for i in pusat_sekutu]
for i in data_frame.index:
  sum[0]=sum[0]+data_frame.at[x,data_frame.columns[5]]

print(sum)

In [ ]:
sum=mean_calculation(pusat_sekutu, data_frame,komponen)

In [ ]:
pusat_sekutu

[10, 41, 71]

In [ ]:
data_frame

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,10
1,4.9,3.0,1.4,0.2,10
2,4.7,3.2,1.3,0.2,10
3,4.6,3.1,1.5,0.2,10
4,5.0,3.6,1.4,0.2,10
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,41
146,6.3,2.5,5.0,1.9,71
147,6.5,3.0,5.2,2.0,41
148,6.2,3.4,5.4,2.3,41
149,5.9,3.0,5.1,1.8,71

In [ ]:
tes = [i*j for i in range(6) for j in range(2)]

In [ ]:
tes

[0, 0, 0, 1, 0, 2, 0, 3, 0, 4, 0, 5]

In [ ]:
centris = [i for i in pusat_sekutu]

In [ ]:
#pusat_sekutu
print(id(pusat_sekutu))

140027169065632

In [ ]:
#centris
print(id(centris))

140027168361920